.advanteges {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 480px) {

        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}

.advanteges__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 480px) {

        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {}
}

.advanteges__item {
    width: 320px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.advanteges__logo {
    width: 300px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}



.advanteges__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 480px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.advanteges__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}